body 
{
	background-color: khaki;
}
.productinfo{
    background-color: grey;
    border-style: hidden;
    border-radius: 5%;
    align-content: center;
}
.bag{
    min-height: 20mm;
    min-width: 30mm;
    max-width: 70mm;
    max-height: 60mm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:100%;
}
.name{
    text-align: center;
    font-size: large;
    color: khaki;
    font-weight: 500;
}
.oldprice{
    text-align: center;
    text-decoration: line-through;
    color: red;
}
.price{
    text-align: center;
    color: orange;
}
.quantity{
    text-align: center;
}
.contactinfo{
    background-color: salmon;
}
form{
    text-align: center;
    font-weight: 600;
}
button{
    background-color: yellowgreen;
    color: orangered;
    border-style: groove;
    border-radius: 15%;
    font-size: large;
    font-weight: 700;
    height: 15mm;
    width: 30mm;
}
footer{
    background-color: darkolivegreen;
    border-radius: 15;
    border-style: groove;
}
